<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map for New York's Child Care Facilities</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />

    <!-- ----------------------------------------- Our CSS ----------------------------------------- -->

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #map,
        body,
        html {
            height: 100%;
        }

        .legend {
        padding: 10px;
        line-height: 18px;
        color: #555;
        background-color: #fff;
        border-radius: 5px;
        }
        .legend i {
        float: left;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        opacity: 0.7;
        }

    </style>
</head>

<body>
    <!-- The div that holds our map -->
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

 <!-- ----------------------------------------- Our JavaScript ----------------------------------------- -->
    <script>

        // ------------------------------------------------------------------ //
        //                         GET THE DATASET                            //
        // ------------------------------------------------------------------ //
        const nyUrl = "https://data.ny.gov/resource/fymg-3wv3.json";

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //         CREATE THE MAP                 //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        let myMap = L.map("map", {
        center: [42.9531, -75.5268],
        zoom: 6
        });

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //         CREATE THE MAP TILES           //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Add tile layer
        let streetmap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(myMap);

        let topo = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        }); 

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //        SETTING THE OPTIONS BOX         //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Create a baseMaps object to hold the streetmap AND the topographic map layers.
        let baseMaps = {
            "Street Map": streetmap,
            "Topographic Map": topo
            };

        let childCareLocations = new L.LayerGroup();
        let licensedLocations = new L.LayerGroup();
        let registeredLocations = new L.LayerGroup();
        let pendingRevocationLocations = new L.LayerGroup();
        let pendingDenialLocations = new L.LayerGroup();
        let pendingRevocationANDDenial = new L.LayerGroup();
        let suspendedLocations = new L.LayerGroup();

        // Create an overlayMaps object to hold the Child Care locations layer.
        let overlayMaps = {
            "Child Care Locations": childCareLocations,
            "Licensed Child Care Facilities": licensedLocations,
            "Registered Child Care Facilities": registeredLocations,
            "Pending Revocation Facilities": pendingRevocationLocations,
            "Pending Denial Facilities": pendingDenialLocations,
            "Pending Revocation and Denial Facilities": pendingRevocationANDDenial,
            "Suspended Facilities": suspendedLocations
        };
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //      CREATE THE CONTROLLER LAYER       //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Create a layer control, and pass it baseMaps and overlayMaps. Add the layer control to the map.
        L.control.layers(baseMaps, overlayMaps, {
            collapsed: true
        }
        ).addTo(myMap);

        // ------------------------------------------------------------------ //
        //                   READING OUR DATA - USING D3                      //
        // ------------------------------------------------------------------ //
        d3.json(nyUrl).then(function (data) {
            console.log(data);
            
            addMarkers(data);
            addExtraMarkers(data)
        });

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //       Function FOR MARKER COLOR        //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Marker Color based on Facility Status.
        function markerColor(status) {
            if (status === "License") return "#90EE90";   // light green
            else if (status === "Registration") return "#dfff00";  // Chartreuse
            else if  (status === "Pending Revocation") return "#FFD580"; // Light Orange
            else if (status === "Pending Denial") return "#FFBF00"; // Amber
            else if (status === "Pending Revocation and Denial") return "#F88379"; // Coral Pink
            else return "#FF0000"; // RED // OR "#FF5733" // for Suspended
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //        Function FOR MARKER SIZE        //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Marker Size based on Total Capacity.
        function markerSize(capacity){
        if (capacity == 0 ) {
            return 1;
        }
        return capacity / 8;
        }
    
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //       Function FOR MARKER STYLE        //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        function markerOption(features){  
            // console.log(features.facility_status);
        return {                        
            fillColor : markerColor(features.facility_status),
            color: "black",   
            // radius: markerSize(features.total_capacity),
            stroke: true, 
            weight: 0.5,
            opacity: 1
        };
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //         DISPLAYING THE MARKERS         //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        // Function to add markers to the map
        function addMarkers(data) {
            data.forEach((point) => {

                // Check if the entry has latitude and longitude information
                if (point.latitude && point.longitude) {

                    // Create a marker and add it to the map
                    L.circleMarker([point.latitude, point.longitude], markerOption(point))
                        .addTo(childCareLocations)
                        .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                }
            });
        }
        // --------------------------------------------------------------------------
        // Another Function to add filtered markers to the map
        function addExtraMarkers(data) {
            data.forEach((point) => {

                // Check if the entry has latitude and longitude information
                if (point.latitude && point.longitude) {
                    if (point.facility_status === "License") {

                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(licensedLocations)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }

                    else if (point.facility_status === "Registration") {
                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(registeredLocations)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }

                    else if (point.facility_status === "Pending Revocation") {
                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(pendingRevocationLocations)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }

                    else if (point.facility_status === "Pending Denial") {
                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(pendingDenialLocations)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }
                    
                    else if (point.facility_status === "Pending Revocation and Denial") {
                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(pendingRevocationANDDenial)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }

                    else if (point.facility_status === "Suspended") {
                        // Create a marker and add it to the map
                        L.circleMarker([point.latitude, point.longitude], markerOption(point))
                            .addTo(suspendedLocations)
                            .bindPopup(`<h2>Facility Name: ${point.facility_name}</h2><hr><p><b>County:</b> 
                            ${point.county}<br><b>Status:</b> ${point.facility_status }<br><b>Total Capacity:</b>
                            ${point.total_capacity} <br><b>For More Info:</b> <a href = "${point.additional_information.url}"> Click Here</a></p>`);
                    }
                    

                }
            });
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        //             CREATE A LEGEND            //
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
        let legend = L.control({position: "bottomright"});
        legend.onAdd = function() {

            let div = L.DomUtil.create("div", "info legend");
            let facilityStatus = ["License", "Registration", "Pending Revocation", "Pending Denial",
                                    "Pending Revocation and Denial", "Suspended"];
            let colors = ["#90EE90", "#dfff00", "#FFD580", "#FFBF00", "#F88379", "#FF0000"];

            // Loop through the depth Intervals and generate a label with a colored square for each interval.      
            for (let i = 0; i < facilityStatus.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + colors[i] + '"></i> ' +
                    facilityStatus[i] + (facilityStatus[i] ? "" + "<br>" : "+");
            }
                return div;
        };
        
        legend.addTo(myMap);

    </script>
</body>
</html>