<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capacity By County</title>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Include D3.js -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script type="text/javascript" src ="../static/amanda.js"></script>
  
  
  <!-- ----------------------------------------- Our CSS ----------------------------------------- -->
  <style>
    body {
      background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
      color: black;
    }

    /* Customize the Jumbotron - The background for the page header */
    .jumbotron {
      background: linear-gradient(0.25turn,  #f69d3c, #ebf8e1, #3f87a6);
    }
    
    .panel-heading {
      background: linear-gradient(0.25turn,  #3f87a6, #ebf8e1, #3f87a6);
    }
    .panel-title {
      color: black;
    }
  </style>
  <!-- ----------------------------------------- END CSS ----------------------------------------- -->

</head>

<body onload="defaultLoad()">

   <!-- <h2>Child Care Capacities by County</h2> -->

  <div class="col-md-12 jumbotron text-center">
    <h1>NYS Child Care Capacities by County</h1>
    <p>Use the interactive charts below to explore the dataset</p>
  </div>

  
  <div class="col-md-2">

    <div class="well">
      <h5>County:</h5>
      <select id="countySelect" onchange="optionChanged(this.value)"></select> 
    </div>

    <!-- Capacities will be dynamically populated here -->
    <!-- <h3>Capacities:</h3>
    <ul id="capacitiesList"> </ul>
     -->

    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Capacities</h3>
      </div>

      <div id="capacitiesList" class="panel-body"></div> 

    </div>

  </div>

</body>

</html>