h1 
{ 
    display:inline; 
} 
body {
    margin: 0 auto; 
    padding: 1%; 
    max-width: 100%;
}
.grid-container {
    text-align: left;
    max-width: 100%;
}
  
.grid-sizer, 
.grid-item {
    width: 50%;
}

#map {
    width:95%;
    position: relative;
}
#bar-chart {
    width: 100%;
    position: relative;
}
#summary {
    width:100%;
    position: relative;
}
#map2 {
    width:95%;
    position: relative;
} 

.map-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
} 

.map-title2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
} 
.grid-item:before {
    counter-increment: grid-item;
    content: counter(grid-item);
    display: block;
    color: white;
    padding-top: 0;
}
.legend {
    padding: 10px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    border-radius: 5px;
}
.legend i {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    opacity: 0.7;
}