<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYS Child Care Facilities</title>
    <!-- Include Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Include D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            margin: 0; 
            padding: 0; 
        }

        #map-container {
            position: bottom;
            height: 400px;
            margin-top: 500px; 
        }

        #map {
            height: 100%;
        }

        #bar-chart-container {
            position: absolute;
            top: 10px;
            right: 300px;
            width: 900px;
            height: 300px;
        }
    </style>
    
</head>
<body>
    <div id="map-container">
        <!-- Container for the Leaflet map -->
        <div id="map"></div>

        <!-- Container for the bar chart -->
        <div id="bar-chart-container">
            <div id="bar-chart"></div>
        </div>
    </div>
    <script src =".\static\tiffany.js">

    </script>
</body>
</html>